    <section id="main">
      <ul class="list-cards">
        <li class="card" ng-repeat="card in ctrl.cardList | orderBy: 'apr'">
          <div class="card-header" >
          <!-- <div class="card-header" ng-click="showDetails = ! -->
              <!-- showDetails" > -->
            <button class="card-header-chevron">

           <svg class="arrow" x="0px" y="0px"
	 width="20px" height="20px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
<path d="M298.3,256L298.3,256L298.3,256L131.1,81.9c-4.2-4.3-4.1-11.4,0.2-15.8l29.9-30.6c4.3-4.4,11.3-4.5,15.5-0.2l204.2,212.7
	c2.2,2.2,3.2,5.2,3,8.1c0.1,3-0.9,5.9-3,8.1L176.7,476.8c-4.2,4.3-11.2,4.2-15.5-0.2L131.3,446c-4.3-4.4-4.4-11.5-0.2-15.8
	L298.3,256z"/>
</svg>
            </button>
            <span class="card-header-name"><b>{{ card.name }}</b></span>
            <span class="card-header-apr"><b>{{ card.apr }}% APR</b></span>
          </div>
          <div class="card-body">
            <div class="card-body-picture"><img ng-src="images/{{card.code}}.png" alt="">{{ card.url }}</div>
            <p class="card-body-information">{{ card.information }}</p>
            <div class="cash-container">
              <span class="card-body-cashback"><b>Cashback</b></span>
              <div class="card-body-price"><b>{{ card.cashback | number: 2
                  | currency: "£"}}</b></div>
            </div>
          </div>
        </li>
      </ul>

    </section>
