    <header>
      <div class="logo">
        <img src="images/ctm-logo.svg" alt="Compare The Market Logo">
      </div>
      <nav>
        <ul id="nav">
          <li class="nav-item" id="home"><a href="/"><img src="images/menu-icons/house.svg"
            alt="homepage-icon"></a></li>
          <li class="nav-item"><a href="car"><img src="images/menu-icons/car.svg"
            alt="car-icon">Vehicles</a></li>
          <li class="nav-item"><a href="/home-and-pets"><img src="images/menu-icons/paw.svg"
            alt="pet-icon">Home &amp; pet</a></li>
          <li class="nav-item"><a href="/finances"><img src="images/menu-icons/credit-card.svg"
            alt="house-finances-icon">Finances</a></li>
          <li class="nav-item"><a href="/life"><img src="images/menu-icons/person-heart.svg"
            alt="person-icon">Life</a></li>
          <li class="nav-item"><a href="/business"><img src="images/menu-icons/letter.svg"
            alt="business-icon">Business</a></li>
          <li class="nav-item"><a href="/travel"><img src="images/menu-icons/plane.svg"
            alt="plane-icon"> Travel</a></li>
        </ul>
      </nav>
    </header>
