    <header>
      <div class="logo">
        <img class="logo" src="images/ctm-logo.svg" alt="Compare The Market Logo">
      </div>
      <nav>
        <ul id="nav">
          <li class="nav-item" id="home">
            <a href="/"><img src="images/menu-icons/house.svg" alt="homepage-icon"></a>
          </li>
          <li class="nav-item">
            <a href="car"><img class="nav-item-icon" src="images/menu-icons/car.svg"
                               alt="car-icon"><span>Vehicles</span></a>
          </li>
          <li class="nav-item">
            <a href="/home-and-pets"><img class="nav-item-icon" src="images/menu-icons/paw.svg"
                                          alt="pet-icon"><span>Home &amp;
                                            pet</span></a>
          </li>
          <li class="nav-item">
            <a href="/finances"><img class="nav-item-icon" src="images/menu-icons/credit-card.svg"
                                     alt="house-finances-icon"><span>Finances</span></a>
          </li>
          <li class="nav-item">
            <a href="/life"><img class="nav-item-icon" src="images/menu-icons/person-heart.svg"
                                 alt="person-icon"><span>Life</span></a>
          </li>
          <li class="nav-item">
            <a href="/business"><img  class="nav-item-icon" src="images/menu-icons/letter.svg"
                                     alt="business-icon"><span>Business</span></a>
          </li>
          <li class="nav-item">
            <a href="/travel"><img  class="nav-item-icon" src="images/menu-icons/plane.svg"
                                   alt="plane-icon"><span>Travel</span></a>
          </li>
        </ul>
      </nav>
    </header>
