//Colour Variables
$background-main: #1E488C;
$chevron: #38B232;
$menu-active: #04132B;
$gradient-darkest: #010338;
$gradient-lightest: #19397C;
$white: #FFFFFF;
$black: black;

//Breakpoint Variables
$ipad-width: 768px;
$desktop-width: 800px;
