.card {
  width: 100%;
  list-style: none;
  .card-header {
    background: linear-gradient($gradient-lightest, $gradient-darkest);
    height: 60px;
    border-radius: 10px 10px 10px 10px;
    // padding: 2em;
    margin-top: 1em;
    .card-header-chevron {
       float: left;
       background-color: inherit;
       border: none;
       margin: 1.0em;
      svg {
        fill: $chevron;
        background-color: inherit;
      }
    }
    span {
      @media (max-width: 450px) {
        font-size: 0.8em;
      }
      @media (min-width: 450px) and (max-width: 700px) {
        font-size: 1em;
      }
      font-size: 1.3em;
    }
    .card-header-name {
      @media (max-width: 600px) {
        width: 60%;
      }
      @media (min-width: 600px) and (max-width: 820px){
        width: 65%;
      }
      width: 75%;
      float: left;
      padding: 0 2%;
      line-height: 50px;
      // font-size: 1.3em;
    }
    .card-header-apr {
      line-height: 50px;
      // font-size: 1.3em;
    }
  }
  .card-body {
    background-color: $white;
    color: $black;
    height: 120px; /* temporary */
    padding: 2em;
    // margin-bottom: 1em;
    border-radius: 0 0 10px 10px;

    .card-body-picture {
      width: 20%;
      float: left;
      height: 100%; /* temp */
    }
    .card-body-information {
      width: 45%;
      float: left;
      height: 100%; /* temp */
      margin: 0;
    }
    .cash-container {
      width: 30%;
      float: left;
      text-align: center;
      .card-body-price {
        font-size: 2.5em;
      }
      .card-body-cashback {
        font-size: 1.3em;
      }
    }
  }
}

// .card-active {
//   color: green;
//   background-color: red;
// }

.active {
  background: red;
}

