.card {
  width: 100%;
  list-style: none;

  .card-header {
    background: linear-gradient($gradient-lightest, $gradient-darkest);
    height: 120px;
    border-radius: 10px 10px 10px 10px;
    margin-top: 1em;
    line-height: 120px;
    font-size: 2em;

    .card-header-chevron {
       float: left;
       background-color: inherit;
       border: none;
       margin: 2.0em;
      svg {
        fill: $chevron;
        background-color: inherit;
        height: 60px;
        width: 60px;
      }
    }
    .card-header-name {
      width: 60%;
      float: left;
      padding: 0 2%;
    }
  }

  .card-body {
    background-color: $white;
    color: $black;
    height: 120px;
    padding: 2em;
    border-radius: 0 0 10px 10px;

    .card-body-picture {
      width: 20%;
      float: left;
      height: 100%; 
      img {
      }
    }

    .card-body-information {
      width: 45%;
      float: left;
      height: 100%; /* temp */
      margin: 0;
    }

    .cash-container {
      width: 30%;
      float: left;
      text-align: center;

      .card-body-price {

      .card-body-cashback {
      font-size: 1.3em;

      }
    }
  }
}
}

