.card {
  width: 100%;
  list-style: none;
  .card-header {
    background: linear-gradient($gradient-lightest, $gradient-darkest);
    height: 60px;
    .card-header-name {
      width: 80%;
      float: left;
      padding: 0 2%;
      line-height: 60px;
      font-size: 1.5em;
    }
    .card-header-apr {
      line-height: 60px;
      font-size: 1.5em;
    }
  }
  .card-body {
    background-color: white;
    color: black;
    height: 120px; /* temporary */
    padding: 2em;

    .card-body-picture {
      width: 20%;
      float: left;
      height: 100%; /* temp */
    }
    .card-body-information {
      width: 50%;
      float: left;
      height: 100%; /* temp */
      margin: 0;
    }
    .cash-container {
      width: 30%;
      float: left;
      text-align: center;
      .card-body-price {
        font-size: 2.5em;
      }
      .card-body-cashback {
        font-size: 1.3em;
      }
    }
  }
}
