header {
  .logo {
    padding: 20px 10px 0px 10px;
  }
  img.logo {
    // @media (max-width: 500px) {
    //   width: 210px;
    // }
    // @media (min-width: 500px) and (max-width: 700px) {
    //   width: 235px;
    // }
  }
  ul#nav {
    margin: 0 auto;
    padding: 0px;
    display: flex;
    list-style: none;
    width: 100%;
    li.nav-item {
      flex-grow: 10;
      background: linear-gradient($gradient-lightest, $gradient-darkest);
      padding: 0.5em;
      // @media (min-width: 600px) and (max-width: 700px) {
      //   padding: 0;
      // }
      text-align: center;
      margin: 0.5% 0.5% 2% 0.5%;
      border-radius: 5px;
      width: 50px;
      height: 30px;
    }
    a {
      span {
        // @media (max-width: 600px) {
        //   display: none;
        //   margin: 0 auto;
        // }
        line-height: 30px;
      }
      img.nav-item-icon {
        // @media (min-width:600px) and (max-width: 960px) {
        //   display: none;
        // }
        margin-right: 10px;
      }
    }
    li#home {
      flex-grow: 0.5;
      background: $black;
    }
  }
}
