header {
  .mobile-header {
    padding: 20px 10px 0px 10px;
    background: black;
    img {
      width: 70%;
      display: inline;
    }
    svg {
      fill: white;
    }
  }
  ul {
    list-style:none;
    width: 100%;
    margin: 0 auto;
    padding: 0px;
    display: flex;
    width: 100%;
    a {
      padding-bottom: 0;
      li {
        flex-grow: 10;
        padding: 0.5em;
        // margin: 0.5% 0.5% 2% 0.5%;
        height: 30px;
        text-align: left;
        span {
          margin-left: 1em;
        }
      }
    }
  }
}


.burger-menu {
  @media(min-width: 774px) {
    visibility: hidden;
  }
  .burger-nav {
  flex-direction: column;
    .burger-item {
      border-bottom: 1px solid black;
    }
  }
}

.horizontal-menu {
  visibility: hidden;
  @media(min-width: 775px) {
    visibility: visible;
  }
  .nav-item {
      flex-grow: 10;
      text-align: center;
      border-radius: 5px;
      width: 50px;
        background: linear-gradient($gradient-lightest, $gradient-darkest);
    }
  a {
      span {
        line-height: 30px;
      }
      img.nav-item-icon {
        margin-right: 10px;
      }
    }
    li#home {
      flex-grow: 0.5;
      background: $black;
    }

}

